<div id="top">
    <div id="top-content">
        <app-my-name-mobile></app-my-name-mobile>
        <app-my-photo-mobile></app-my-photo-mobile>
        <span class="skill-level">Skilled</span>
        <span class="color-word expertise">Fullstack</span>
        <span class="role">Web Developer</span>
    </div>
</div>
<div id="bottom">
    <app-main-description class="app-main-description-mobile"></app-main-description>
    <button mat-button id="contact-button-mobile">
        <span>Contact</span>
    </button>
</div>