<div id="border-bottom">
</div>
<div class="flexbox-container" [ngClass]="{'flexbox-container--not-chrome': this.isNotChrome()}">
    <div class="slider">
        <div class="slider__controller">
            <div class="backend-btn-container">    
                <button class="backend-btn outside-btn"><span>Maintenance</span></button>
            </div>
            <div class="frontend-btn-container">
                <button class="frontend-btn outside-btn"><span>Development</span></button>
            </div>
        </div>
        <div class="slider__content">
            <div class="txt-container">
                <span class="title" *ngIf="sliderShowOne" [ngClass]="{ 'slider-opacity': sliderOpacity }">
                    Designing the <span class="color">future</span> of your <span class="color">digital brand</span> with seamless functionality 
                </span>
                <span class="txt" *ngIf="sliderShowOne" [ngClass]="{ 'slider-opacity': sliderOpacity }">
                    Our dynamic approach anticipates tomorrow’s trends today, blending form and function to create lasting impressions on every platform
                </span>
                <span class="title" *ngIf="sliderShowTwo" [ngClass]="{ 'slider-opacity': sliderOpacity }">
                    Bringing your <span class="color">vision to life</span> with <span class="color">cutting-edge solutions</span>
                </span>
                <span class="txt" *ngIf="sliderShowTwo" [ngClass]="{ 'slider-opacity': sliderOpacity }">
                    Our innovative techniques align with your goals, pushing the boundaries of what's possible, no matter where you're starting from
                </span>
                <span class="title" *ngIf="sliderShowThree" [ngClass]="{ 'slider-opacity': sliderOpacity }">
                    Unlocking <span class="color">new possibilities</span> through tailored <span class="color">web innovations</span>
                </span>
                <span class="txt" *ngIf="sliderShowThree" [ngClass]="{ 'slider-opacity': sliderOpacity }">
                    We fuse creativity with technology to open doors you didn’t even know existed, designed specifically for the way your business evolves
                </span>
                <span class="title" *ngIf="sliderShowFour" [ngClass]="{ 'slider-opacity': sliderOpacity }">
                    Crafting <span class="color">digital experiences</span> that transform your <span class="color">online presence</span>
                </span>
                <span class="txt" *ngIf="sliderShowFour" [ngClass]="{ 'slider-opacity': sliderOpacity }">
                    From captivating visuals to behind-the-scenes architecture, our approach adapts to the unique essence of your brand, ensuring each interaction resonates with impact
                </span>
                <app-slider-image-one *ngIf="sliderShowOne" class="slider-image-small" [ngClass]="{ 'slider-opacity': sliderOpacity }"></app-slider-image-one>
                <app-slider-image-two *ngIf="sliderShowTwo" class="slider-image-small" [ngClass]="{ 'slider-opacity': sliderOpacity }"></app-slider-image-two>
                <app-slider-image-three *ngIf="sliderShowThree" class="slider-image-small" [ngClass]="{ 'slider-opacity': sliderOpacity }"></app-slider-image-three>
                <app-slider-image-four *ngIf="sliderShowFour" class="slider-image-small" [ngClass]="{ 'slider-opacity': sliderOpacity }"></app-slider-image-four>
            </div>   
        </div>
    </div>
    <app-slider-image-one *ngIf="sliderShowOne" class="slider-image-large" [ngClass]="{ 'slider-opacity': sliderOpacity }"></app-slider-image-one>
    <app-slider-image-two *ngIf="sliderShowTwo" class="slider-image-large" [ngClass]="{ 'slider-opacity': sliderOpacity }"></app-slider-image-two>
    <app-slider-image-three *ngIf="sliderShowThree" class="slider-image-large" [ngClass]="{ 'slider-opacity': sliderOpacity }"></app-slider-image-three>
    <app-slider-image-four *ngIf="sliderShowFour" class="slider-image-large" [ngClass]="{ 'slider-opacity': sliderOpacity }"></app-slider-image-four>
</div>