<div class="flexbox-container">
    <div class="slider">
        <div class="slider__content">
            <div class="left-btn-container">
                <button class="inside-btn"></button>
            </div>
            <div class="txt-container">
                <span class="txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. 
                </span>
            </div>
            <div class="right-btn-container">
                <button class="inside-btn"></button>
            </div>
        </div>
        <div class="slider__controller">
            <div class="backend-btn-container">    
                <button class="backend-btn outside-btn"><span>backend</span></button>
            </div>
            <div class="frontend-btn-container">
                <button class="frontend-btn outside-btn"><span>frontend</span></button>
            </div>
        </div>
    </div>
    <div class="image-container">
    </div>
</div>