<section class="main-section-one-container">
    <app-main-section-one-desktop></app-main-section-one-desktop>
    <app-main-section-one-mobile></app-main-section-one-mobile>
    <video muted autoplay loop playsinline class="background-video">
    <source src="/assets/videos/coding-blue-1.mp4" type="video/mp4">
</video>
<div class="background-gradient"></div>
</section>
<section class="main-section-two-container">
    <app-main-section-two-desktop></app-main-section-two-desktop>
    <app-main-section-two-mobile></app-main-section-two-mobile>
    <video muted autoplay loop class="background-video">
    <source src="/assets/videos/coding-blue-2-inverted.mp4" type="video/mp4">
</video>
<div class="background-gradient"></div>
</section>
<section class="main-section-three-container">
    <app-main-section-three-desktop></app-main-section-three-desktop>
    <app-main-section-three-mobile></app-main-section-three-mobile>
</section>
