<div class="notification" [ngClass]="getNotificationClasses()">Video playback is restricted in your browser. Please enable autoplay for a better experience.</div>
<app-up-btn id="up-btn" (click)="upBtn()"></app-up-btn>
<app-down-btn id="down-btn" (click)="downBtn()"></app-down-btn>
<section class="main-section-one-container section" id="sec0" #sec1>
    <app-main-section-one-desktop></app-main-section-one-desktop>
    <app-main-section-one-mobile></app-main-section-one-mobile>
    <video autoplay muted loop playsinline disablePictureInPicture class="background-video">
        <source src="/assets/videos/coding-blue-1.mp4" type="video/mp4">
    </video>
<div class="background-gradient"></div>
</section>
<section class="main-section-two-container section" id="sec1" #sec2>
    <app-main-section-two-desktop></app-main-section-two-desktop>
    <video autoplay muted loop playsinline disablePictureInPicture class="background-video">
        <source src="/assets/videos/coding-blue-1.mp4" type="video/mp4">
    </video>
<div class="background-gradient"></div>
</section>
<section class="main-section-three-container section" id="sec2" #sec3>
    <app-main-section-three-desktop></app-main-section-three-desktop>
    <video autoplay muted loop playsinline disablePictureInPicture class="background-video">
        <source src="/assets/videos/coding-blue-1.mp4" type="video/mp4">
    </video>
    <div class="background-gradient"></div>
</section>
