:host
    height: 50px
    width: 50px
    display: none //This was none by default ?
    justify-content: flex-start
    align-items: center
    transition: fill .3s ease
    fill: #ccc
:host:active
    fill: #adf
    //this shit for mobile
svg
    width: 35px
    height: 35px
@media (pointer: coarse) and (hover: none)
    :host
        justify-content: center
        display: flex
    svg
        width: 75%
        height: 75%    