<div class="shadow" *ngIf="controlPanel"></div>
<div class="body">
    <div class="control-panel" *ngIf="controlPanel">
        <div class="controls">
            <div class="all-cont">
                <button class="view-btn" (click)="toggleView(0)" [ngClass]='{active: panelSections[0]}'><span>screenshots</span></button>
                <button (click)="toggleView(1)" [ngClass]='{active: panelSections[1]}'><span>diagrams</span></button>
                <button class="description-btn" [ngClass]='{active: panelSections[2]}' (click)="toggleView(2)"><span>description</span></button>
            </div>
            <div class="exit-cont">
                <button class="exit-btn" (click)="controlPanel = false; normalizeScroll()"></button>
            </div>
        </div>
        <div class="content">
            <div class="view-images" *ngIf="panelSections[0]">
                <div class="images-slider">
                    <div class="top">
                        <img src="/assets/images/portfolio-php-screenshots/img1.png" *ngIf="image.absoluteIndex() === '7-1'">
                        <img src="/assets/images/portfolio-php-screenshots/img2.png" *ngIf="image.absoluteIndex() === '7-2'">
                        <img src="/assets/images/portfolio-php-screenshots/img3.png" *ngIf="image.absoluteIndex() === '7-3'">
                    </div>
                    <div class="bottom">
                        <button class="btn-1" (click)="relativeIndexRefresh('back')" [ngClass]="{disabled: image.relativeIndex === 1}">
                            <app-back-arrow></app-back-arrow>
                        </button>
                        <button class="btn-2" (click)="relativeIndexRefresh('next')" [ngClass]="{disabled: image.relativeIndex === image.limit}">
                            <app-back-arrow></app-back-arrow>
                        </button>
                    </div>
                </div>
            </div>
            <div class="view-algorithm" *ngIf="panelSections[1]">
                <div class="diagram-slider">
                    <div class="top">
                        <img src="/assets/images/portfolio-php-screenshots/img1.png" *ngIf="diagram.absoluteIndex() === '7-1'">
                        <img src="/assets/images/portfolio-php-screenshots/img2.png" *ngIf="diagram.absoluteIndex() === '7-2'">
                        <img src="/assets/images/portfolio-php-screenshots/img3.png" *ngIf="diagram.absoluteIndex() === '7-3'">
                    </div>
                    <div class="bottom">
                        <button class="btn-1" (click)="relativeIndexRefresh('back', 'diagram')" [ngClass]="{disabled: diagram.relativeIndex === 1}">
                            <app-back-arrow></app-back-arrow>
                        </button>
                        <button class="btn-2" (click)="relativeIndexRefresh('next', 'diagram')" [ngClass]="{disabled: diagram.relativeIndex === diagram.limit}">
                            <app-back-arrow></app-back-arrow>
                        </button>
                    </div>
                </div>
            </div>
            <div class="description" *ngIf="panelSections[2]"></div>
        </div>
    </div>
    <div class="item item-n1" (click)="controlPanel = true; refreshProjectIndex(1)">
        <div class="fixed-name"><span>this portfolio</span></div>
        <div class="fixed-techs">
            <span>A</span>
            <span>B</span>
            <span>C</span>
            <span>D</span>
        </div>
        <div class="name"><span class="text"><span class="color">T</span>his <span class="color">P</span>ortfolio</span></div>
    </div>
    <div class="item item-n2" (click)="controlPanel = true; refreshProjectIndex(2)">
        <div class="fixed-name"><span>Layour Creator</span></div>
        <div class="name"><span class="text"><span class="color">L</span>ayour <span class="color">C</span>reator</span></div>
    </div>
    <div class="item item-n3" (click)="controlPanel = true; refreshProjectIndex(3)">
        <div class="fixed-name"><span>CRUD MERN Stack</span></div>
        <div class="name"><span class="text">CRUD MERN Stack</span></div>
    </div>
    <div class="item item-n4" (click)="controlPanel = true; refreshProjectIndex(4)">
        <div class="fixed-name"><span>CRUD ANS Stack</span></div>
        <div class="name"><span class="text">CRUD ANS Stack</span></div>
    </div>
    <div class="item item-n5" (click)="controlPanel = true; refreshProjectIndex(5)">
        <div class="fixed-name"><span>Problem Solving Tool</span></div>
        <div class="name"><span class="text">Problem Solving Tool</span></div>
    </div>
    <div class="item item-n6" (click)="controlPanel = true; refreshProjectIndex(6)">
        <div class="fixed-name"><span>Algorithms</span></div>
        <div class="name"><span class="text">Algorithms</span></div>
    </div>
    <div class="item item-n7" (click)="controlPanel = true; refreshProjectIndex(7)">
        <div class="fixed-name"><span>Portfolio Vanilla PHP</span></div>
        <div class="name"><span class="text">Portfolio Vanilla PHP</span></div>
    </div>
</div>