:host
    position: relative
    display: flex
    position: relative
    width: calc(100vw - 7px)
    max-width: 1900px
    background: #000
    justify-content: center
.body
    width: 100%
    height: calc(100vh - 50px)
    background: #333
    margin-top: 50px
    position: relative
    display: flex
    img
        object-position: 0 0
        width: 100%