<a routerLink="/" class="home">
  <div appMobileHomeButton></div>  
</a>
<div class="links">
    <a routerLink="/details" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Details</a>
    <a routerLink="/projects" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Projects</a>
    <a routerLink="/contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
    <a (click)="darkMode = !darkMode">
      <div [ngClass]="{'dark-mode-icon-true': darkMode}" darkModeIcon class="dark-mode-icon"></div>
      <div [ngClass]="{'light-mode-icon-true': !darkMode}" lightModeIcon class="light-mode-icon"></div>
      <div class="circle-icon" circleIcon></div>
    </a>
    <a (click)='usFlag = !usFlag'>
      <div usFlag class="us-flag" [ngClass]="{'us-flag-true': usFlag}"></div>
      <div arFlag class="ar-flag" [ngClass]="{'ar-flag-true': !usFlag}"></div>
      <div switchIcon class="switch-icon"></div>
    </a>
</div>