:host
    width: 100%
    max-width: 1900px
    height: 50px
    display: flex
    border-bottom: 1px solid #444
    position: fixed
    justify-content: space-between
    z-index: 300
    transition: background-color ease .5s
@media (pointer: coarse) and (hover: none)
    .desktop
        display: none