<div class="content" [ngClass]="{'content--not-chrome': this.isNotChrome()}">    
<div class="name">
    <app-my-name-desktop></app-my-name-desktop>
</div>
<div class="photo-text">
    <app-my-photo-desktop></app-my-photo-desktop>
    <div class="me-text">
        <span class="skill-level char">Skilled</span>
        <span class="color-word expertise char">Fullstack</span>
        <span class="role char">Web Developer</span>
    </div>
</div>
<div class="div-layout">
    <app-main-description class="app-main-description-desktop"></app-main-description>
</div>
<div class="div-layout-2">    
    <button mat-button id="experience-button-desktop" routerLink="/details">
        <app-xp-btn-content></app-xp-btn-content>
    </button>
    <button mat-button id="projects-button-desktop">
        <app-proj-btn-content></app-proj-btn-content>
    </button>
    <button mat-button id="contact-button-desktop" routerLink="/contact">
        <app-contact-button-content></app-contact-button-content>
    </button>
</div>
</div>
<div id="border-bottom">
</div>