<div class="container">
    <div class="control-container">
        <button class="control-container__button" id="frontend-button"></button>
        <button class="control-container__button" id="backend-button"></button>
    </div>
    <div class="cards-container">
        <div class="current-card">
            <span class="current-car__text" style="color:white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </span>
        </div>
    </div>
</div>
