<div class="shadow"></div>
<div class="body">
    <div class="first-view" id="experience">
        <section class="experience-section">
            <h2><span class="color-letter">E</span>xperience</h2>
            <div class="non-formal-record">
                <h3 class="title">Non-Formal Record:</h3>
                <div class="record">
                    <span class="year"><div></div><div>2021</div></span>
                    <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    quis nostrud exercitation ullamco <b>laboris nisi</b> ut aliquip ex ea commodo
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2022</div></span>
                    <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2023</div></span>
                    <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2024</div></span>
                    <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    <div class="arrow arrow-bottom"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="second-view" id="education">
        <section class="education-section">
            <h2><span class="color-letter">E</span>ducation</h2>
            <div class="formal-education">
                <h3 class="title">Formal Education:</h3>
                <div class="item">
                    <span class="year"><div></div><div>2011-2017</div></span>
                    <span class="content">
                        Elementary School
                    </span>
                </div>
                <div class="item">
                    <span class="year"><div></div><div>2017-2023</div></span>
                    <span class="content">
                        High School
                    </span>
                </div>
            </div>
            <div class="non-formal-record">
                <h3 class="title">Non-Formal Record:</h3>
                <div class="record">
                    <span class="year"><div></div><div>2021</div></span>
                    <span class="content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2022</div></span>
                    <span class="content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2023</div></span>
                    <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2024</div></span>
                    <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    <div class="arrow arrow-bottom"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="third-view">
        <section class="about-me-section">
            <h2 class="about-me__title"><span class="color-letter">P</span>ersonal</h2>
            <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </section>
    </div>
</div>
