<div class="shadow"></div>
<div class="body">
    <div class="first-view" id="experience">
        <div class="border-bottom"></div>
        <video autoplay muted loop playsinline disablePictureInPicture class="background-video">
            <source src="/assets/videos/coding-blue-1.mp4" type="video/mp4">
        </video>
        <div class="background-gradient"></div>
        <section class="experience-section" [ngClass]="{'experience-section--not-chrome': isNotChrome()}">
            <h2><span class="color-letter">E</span>xperience</h2>
            <div class="non-formal-record">
                <h3 class="title">Non-Formal Record:</h3>
                <div class="record">
                    <span class="year"><div></div><div>2021</div></span>
                    <span class="content"> <b>Isolated practices</b> in <b>HTML and CSS</b>. These practices aren’t worth reviewing since they’re insignificant, but I’m sharing <a href="https://github.com/NazarenoTognoli/without-documentation/tree/master/2021" target="_blank">the link</a> to a GH repo anyway with a few things I salvaged from 2021.</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2022</div></span>
                    <span class="content">I began developing a <b>web application</b> using <b>HTML, CSS and VanillaJS</b>. While the initial code is somewhat repetitive and not exactly top-notch, it reflects my growth and progress in software development over time. The project includes three versions, and in the latest iteration of 2022, I <b>managed to eliminate thousands of lines of repetitive code</b> using simple yet effective scripts. The app name it was not clearly defined, but some ways I used to refer to it were: Manager Eternal, Eternal Manager, Eternal Solutions. Since the final purpose of the app was to solve general problems, even though it only became a simple study tool in the short term. If you want to see the repo <a href="https://github.com/NazarenoTognoli/without-documentation/tree/master/2022/ME_pre-alpha" target="_blank">click here</a>.</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2023</div></span>
                    <span class="content">I finished the development of "ME_pre-alpha" which is the continuation of the 2022 project, even if it had a lot of inconsistencies, which means that is a dummy version of something that I wanted to build later. You can see the final version <a href="https://github.com/NazarenoTognoli/without-documentation/tree/master/2023" target="_blank">here</a>. I also made <b>practices in NODE and EXPRESS</b> and boost my javascript skills.</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2024</div></span>
                    <span class="content">I started developing an  <b>app with React</b> to solve general problems that you can see <a href="https://github.com/NazarenoTognoli/ME_ver.0.0.0-frontend" target="_blank">here</a>, but I soon realized that I was working on something without clearly defining the solutions I wanted to implement. So, I paused the development and shifted my focus to designing solutions using <b>diagrams and algorithms—no coding</b>, just defining what I planned to automate. However, as time went on, the pressure of unemployment pushed me to prioritize creating this portfolio instead which one is made with <b>Angular</b>.</span>
                    <div class="arrow arrow-bottom"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="second-view" id="education">
        <div class="border-bottom"></div>
        <video autoplay muted loop playsinline disablePictureInPicture class="background-video transform-video">
            <source src="/assets/videos/coding-blue-1.mp4" type="video/mp4">
        </video>
        <div class="background-gradient"></div>
        <section class="education-section" [ngClass]="{'education-section--not-chrome': isNotChrome()}">
            <h2><span class="color-letter">E</span>ducation</h2>
            <div class="formal-education">
                <h3 class="title">Formal Education:</h3>
                <div class="item">
                    <span class="year"><div></div><div>2011-2017</div></span>
                    <span class="content">
                        Elementary School
                    </span>
                </div>
                <div class="item">
                    <span class="year"><div></div><div>2017-2023</div></span>
                    <span class="content">
                        High School
                    </span>
                </div>
            </div>
            <div class="non-formal-record">
                <h3 class="title">Non-Formal Record:</h3>
                <div class="record">
                    <span class="year"><div></div><div>2021</div></span>
                    <span class="content">HTML and CSS, English</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2022</div></span>
                    <span class="content">Javascript, English</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2023</div></span>
                    <span class="content">Git, Node/Express, React, PHP</span>
                    <div class="arrow"></div>
                </div>
                <div class="record">
                    <span class="year"><div></div><div>2024</div></span>
                    <span class="content">MySQL/SQL, Sequelize, Angular, C#</span>
                    <div class="arrow arrow-bottom"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="third-view" id="personal">
        <div class="border-bottom"></div>
        <video autoplay muted loop playsinline disablePictureInPicture class="background-video">
            <source src="/assets/videos/coding-blue-1.mp4" type="video/mp4">
        </video>
        <div class="background-gradient"></div>
        <section class="about-me-section" [ngClass]="{'about-me-section--not-chrome': isNotChrome()}">
            <h2 class="about-me__title"><span class="color-letter">P</span>ersonal</h2>
            <div class="content">
                <span><b>Full-name</b>: Nazareno Emiliano</span>
                <span><b>Last-name</b>: Tognoli</span>
                <span><b>Location</b>: Matheu/Escobar, Buenos Aires, Argentina</span>
                <span><b>Postal-Code</b>: B1627</span>
                <span><b>Soft-skills</b>: Problem solving | Structure (if required) | Adaptability | Empathy | Independence (if required) | Communication</span>
            </div>
        </section>
    </div>
</div>
