<div id="border-bottom">
</div>
<div class="stats-container">
    <div id="reminder">
        <span>data is not representative</span>
    </div>
    <div class="stats-header">
        <div>
            <span>
                Stats
            </span>
        </div>
    </div>
    <div class="stats-body">
        <div class="stat-bar">
            <span class="stat-name">Typescript</span>
        </div>
        <div class="stat-bar">
            <span class="stat-name">Express.js</span>
        </div>
        <div class="stat-bar">
            <span class="stat-name">.NET</span>
        </div>
        <div class="stat-bar">
            <span class="stat-name">C#</span>
        </div>
        <div class="stat-bar">
            <span class="stat-name">Angular</span>
        </div>
        <div class="stat-bar">
            <span class="stat-name">Javascript</span>
        </div>
        <div class="stat-bar">
            <span class="stat-name">React</span>
        </div>
        <div class="pt-10 pt">
            10%
        </div>
        <div class="pt-20 pt">
            20%
        </div>
        <div class="pt-30 pt">
            30%
        </div>
        <div class="pt-40 pt">
            40%
        </div>
        <div class="pt-50 pt">
            50%
        </div>
        <div class="pt-60 pt">
            60%
        </div>
        <div class="pt-70 pt">
            70%
        </div>
        <div class="pt-80 pt">
            80%
        </div>
        <div class="pt-90 pt">
            90%
        </div>
    </div>
</div>