:host
    margin-right: auto
    width: auto
    margin-top: 4vh
    padding-right: 20px 
    font-size: 30px
    padding-left: 20px
    letter-spacing: 0
    background: rgba(22, 22, 22, .7)
    .color-letter
        color: #adf
        outline: none
        font-weight: 500