<!-- MOBILE CONTENT -->
<div class="div-one">
    <app-my-introduction-mobile></app-my-introduction-mobile>
</div>
<div class="div-two">
    <app-main-description class="app-main-description-mobile"></app-main-description>
    <button mat-button id="contact-button-mobile">
        <span>Contact</span>
    </button>
</div>
<!-- DESKTÖP CONTENT -->
<div class="div-three">
    <app-my-introduction-desktop></app-my-introduction-desktop>
</div>
<!-- SHARED CONTENT -->
<video muted autoplay loop playsinline class="background-video">
    <source src="/assets/videos/coding-blue-1.mp4" type="video/mp4">
</video>
<div class="background-gradient"></div>
