//responsive fixes 
#contact-button
        display: none
//config
@mixin background-gray($level: 100%)
  $gray-value: mix(black, white, $level) // Mix black and white to get the desired gray level
  background-color: $gray-value
// Usage example:
@import 'entry/entry.sass'
//base
:host
    flex-direction: row
.background-video
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    object-fit: cover
    object-position: -27px -20px
    z-index: -1
    opacity: .3
.background-gradient
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: -1
    background: linear-gradient(to bottom, rgba(0,0,0,1) 7%, rgba(5,6,24,0) 20%, rgba(5,6,24,0) 80%, rgba(0,0,0,1) 100%)
.div-one
    width: 50%
    height: calc(100% - 50px)
    margin-top: 50px
    display: none
.div-two
    width: calc(50%)
    height: calc(100% - 50px)
    margin-top: 50px
    display: none
.div-three
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
// .div-two__desktop-content
//     display: flex
//     flex-direction: column
//     height: 100%
//     width: 100%
//     align-items: center
#contact-button-mobile
    display: none
.app-main-description-mobile
    display: none
.app-main-description-desktop
    display: inherit
@media (pointer: coarse) and (hover: none)
    .app-main-description-mobile
        display: inherit
    .app-main-description-desktop
        display: none
    .div-two__desktop-content
        display: none
    .background-gradient
        background: linear-gradient(to bottom, rgba(0,0,0,1) 5%, rgba(5,6,24,0) 20%, rgba(5,6,24,0) 80%, rgba(0,0,0,1) 100%)
    :host
        position: relative
        overflow: hidden
        flex-direction: column
        justify-content: flex-start
    .div-three
        display: none
    .div-one
        width: 100%
        height: calc(100vh - 200px)
        display: flex
        flex-direction: row //row in mobile
        flex-grow: 0
        margin-top: 0
        flex-shrink: 0
    .div-two
        width: 100%
        height: 200px
        margin-top: 0
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center //center in mobile
        border: none
    .background-image
        width: 96vw
        max-width: 680px
        display: none
        height: auto
        top: 155px
        left: 50%
        transform: translateX(-50%)
        position: absolute
        opacity: 16%
    #contact-button-mobile
        width: 120px
        height: 36px
        border: 1px solid #fff
        color: #adf
        display: block
        margin-top: 20px
        font-size: 16px
        z-index: 200
        span
            width: 120px
            font-weight: 800
            height: 36px
    // #contact-button:active
    //     border-color: $secondary-color
    //     color: $secondary-color
    // #contact-button:hover
    //     border-color: $secondary-color
    //     color: $secondary-color

//desktop
// #contact-button
//     width: 140px
//     height: 39px
//     font-size: 18px
//     color: $primary-color-potente
    //:host
        // app-main-backgounrd-image
        //     top: 270px
        //     transform: translate(-48%, -50%)
    //     .sec-one-top
    //         .name
    //             display: flex
    //         .name-desktop
    //             display: none
    // .rol-name
    //     margin-top: calc(50px + 3.2vh)