<!-- COMPONENTE ORGS -->
<div class="sec-one-top">
    <!-- COMPONENTE ORGS -->
    <div class="name"> 
        <span class="color-letter">N</span>
        <span>A</span>
        <span>Z</span>
        <span>A</span>
        <span>R</span>
        <span>E</span>
        <span>N</span>
        <span>O</span>
        <span> </span>
        <span class="color-letter">E</span>
        <span>.</span>
        <span class="color-letter">T</span>
        <span>O</span>
        <span>G</span>
        <span>N</span>
        <span>O</span>
        <span>L</span>
        <span>I</span>
    </div>
    <!-- COMPONENTE ORGS -->
    <div class="sec-one-top__content">
        <!-- COMPONENTE ORGS -->
        <div class="name-desktop">
            <!-- COMPONENTE MOLECULE -->
            <span><span class="color-letter-desktop-name">N</span>azareno <span class="color-letter-desktop-name">E</span>. <span class="color-letter-desktop-name">T</span>ognoli</span>
        </div>
        <!-- COMPONENTE ORGS -->
        <div class="rol-name">
            <!-- COMPONENTE MOLECULE -->
            <span>Skilled</span>
            <!-- COMPONENTE MOLECULE -->
            <span class="color-word">Fullstack</span>
            <!-- COMPONENTE MOLECULE -->
            <span>Web Developer</span>
        </div>
    </div>
</div>
<!-- COMPONENTE ORGS -->
<div class="sec-one-bottom">
    <!-- COMPONENTE MOLECULE -->
    <div class="content">
        <div class="description">
            <a href="https://react.dev/" target="_blank">React</a> | <a href="https://expressjs.com/" target="_blank">Express</a> | <a href="https://learn.microsoft.com/en-us/dotnet/" target="_blank">.NET</a> | <a href="https://angular.dev/overview" target="_blank">Angular</a>
        </div>
        <!-- COMPONENTE MOLECULE -->
        <button mat-button id="contact-button">
            <span>Contact</span>
        </button>
    </div>
    <!-- COMPONENTE ATOM -->
    <img src="/assets/images/main-image.png">
</div>
